<!--==========================
      About Us Section
    ============================-->
<section id="about" class="section-bg">
    <div class="container-fluid">
        <div class="section-header">
            <h3 class="section-title">INFORMACION GENERAL</h3>
            <span class="section-divider"></span>
            <p class="section-description">
                ¡Yo te podría hablar maravillas sobre el servicio, pero yo solo digo pruébelo y usted decide si le
                gusta!
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6 about-img wow fadeInLeft">
                <img src="img/privado2.jpg" alt="">
            </div>

            <div class="col-lg-6 content wow fadeInRight">
                <h2>El servicio es totalmente en español, es lo que nos diferencia de los demás.</h2>

                <p>
                    Contiene canales de todo Sur, Centro, y Norte América (incluyendo el Caribe) Canales de Argentina,
                    Bolivia, Brasil, Canadá, Chile, Colombia, Costa Rica, Cuba, Ecuador, España, El Salvador, Guatemala,
                    Honduras, México, Nicaragua, Paraguay, Perú, Panamá, Puerto Rico, República Dominicana, Venezuela,
                    Uruguay y USA.
                </p>

                <ul>
                    <li><i class="ion-android-checkmark-circle"></i> Para Smart TV y TV BOX se recomienda el cable
                        ethernet para la conexión de internet. Dependiendo de la velocidad de su internet el cable de
                        ethernet no es necesario, pero es recomendado.
                    </li>
                    <li><i class="ion-android-checkmark-circle"></i> Tienes que saber que, en estos sistemas, se haga un
                        Freezado o entrecorte dependiendo de su internet ya que puede haber este tipo de problemas.
                    </li>

                    <li><i class="ion-android-checkmark-circle"></i> <a href="http://tv-privado.net/canales.pdf"
                            target="_blank">Aquí</a> encontraras una lista de los canales existentes que tenemos.
                    </li>

                </ul>

                <p>
                    De vez encuando puede presentarse alguna falla del servicio Debido a que ningún proveedor de IPTV
                    puede garantizar el 100% de sus canales.
                    En lo general nuestro servicio es muy estable y tenemos años en esto.
                </p>
            </div>
        </div>

    </div>
</section><!-- #about -->