<!--==========================
      Product Advanced Featuress Section
    ============================-->
<section id="advanced-features">

    <div class="features-row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img loading="lazy" class="advanced-feature-img-left wow fadeInLeft" src="/img/plus.apk.png"
                        alt="">
                    <div class="wow fadeInRight">
                        <h2>Descarga directa para teléfono Celular Android, Windows, Mac o Linux.</h2>
                        <h3> <span class="font-weight-bold">IMPORTANTE</span> . Si no le abre el link directo, copie y
                            pegue el link
                            a tu navegador.</h3>
                        <li><a href="http://tv-privado.net/plus.apk" target="_blank" rel="noopener">Android Apk</a></li>
                        <li><a href="http://tv-privado.net/windows.exe" target="_blank" rel="noopener">Windows</a></li>
                        <li><a href="http://tv-privado.net/mac.zip" target="_blank" rel="noopener">Mac</a></li>
                        <li><a href="http://tv-privado.net/linux.deb" target="_blank" rel="noopener">Linux</a></li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features-row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wow fadeInRight">
                        <h2>Instalación para Televisor Inteligente (Smart TV) y Cajas Android</h2>
                        <p class="wow" data-wow-duration="0.5s">Si su televisor contiene tienda de aplicaciones un ejemplo Playstore
                             u tienda de aplicaciones, solo vayan a ella, 
                             busque esta aplicación que se llama <span class="font-weight-bold">IPTV Smarters</span> descárguela e instale. Si no esta en su televisor como en algunos Samsung, aconsejo buscar <span class="font-weight-bold">Duplex IPTV</span>. Cuando tienen instalada la aplicación mándeme una foto de la pantalla para mirar que todo se instaló correcto. </p>
                       <p class="text-uppercase">IMPORTANTE TENER TODO INSTALADO ANTES DE PEDIR EL DEMO YA QUE DURA DOS HORAS DEPUES QUE CREO EL USUARIO Y CONTRASENA. </p>
                       <p>Si no tienes IPTV Smarters  <a href="https://api.whatsapp.com/send?phone=1917933-2866&text=hola%20quiero%20mas%20informacion" target="_blank">Contactanos</a>.
                            Tambien existen estas opciones.</p>
                    <ul>  
                        <li>Duplex IPTV  (Buscar en la tienda para algunos televisores Samsung)</li>
                        <li><a href="http://tv-privado.net/smartiptv.pdf" target="_blank">Smart IPTV</a></li>
                        <li><a href="http://tv-privado.net/ssiptv.pdf"  target="_blank">simple smart IPTV</a></li>
                        <li><a href="http://tv-privado.net/setiptv.pdf" target="_blank">SETIPTV</a></li>
                        <li><a href="http://tv-privado.net/gse.pdf"  target="_blank">GSE SMART IPTV</a></li>
                    </ul>  
                    </div>
                    <br>
                    <!-- <div class="wow fadeInLeft embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/k9D5I1S4qkA" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="features-row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img loading="lazy" class="advanced-feature-img-left wow fadeInLeft" src="img/iphone apple tv.jpg"
                        alt="">
                    <div class="wow fadeInRight">
                        <h2>Instalación para IOS (IPhone o Apple TV)</h2>
                        <p class="wow" data-wow-duration="0.5s">Solo busquen en App Store una de las siguientes aplicaciones. Para los dispositivos Apple puede ser un poco raro,
                             ya que algunas aplicaciones no sirven y otras si. Mi recomendación instale <span class="font-weight-bold">Opción 1 IPTV STREAMER PRO.</span> 
                             Si opción 1 no está o fucniona, busca opción dos o tres. 
                             Si tienes alguna app de preferencia escribe IPTV en el AppStore y escoge una a tu gusto, 
                             ten encueta que tendrás que saber instalar la que escojas si escoges esta opción.</p>


                        <i class="ion-ipad wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">
                            <a href="https://apps.apple.com/us/app/iptv-streamer-pro/id1137962801?l=es">IPTV STREAMER PRO (Opcion #1)</a>
                        </p>

                        <i class="ion-iphone wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">
                            <a href="https://apps.apple.com/us/app/iptvx/id1451470024">IPTVX (Opcion #2)</a>
                        </p>

                        <i class="ion-laptop wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">
                            <a href="https://apps.apple.com/us/app/gse-smart-iptv/id1028734023">GSE (Opcion #3)</a>
                            <a href="http://tv-privado.net/gse.pdf">Tutorial para instalar GSE</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features-row section-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img loading="lazy" class="advanced-feature-img-right wow fadeInRight" src="img/firestick.jpg"
                        alt="">
                    <div class="wow fadeInLeft">
                        <h2>Instalación para Firestick o Fire TV.</h2>
                        <h3>
                        </h3>
                        <p></p>
                        <i class="ion-ios-albums-outline"></i>
                        <p>Seguir las instrucciones en el tutorial de abajo.</p>
                        <a href="/firestick.pdf" target="_blank">Tutorial para Firestick</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #advanced-features -->