<!--==========================
      Clients
    ============================-->
<section id="clients">
    <div class="container">

        <div class="row wow fadeInUp">

            <div class="col-md-4">
                <img src="img/privadolatino2.png" alt="Ve la televisión de más de 20 países">
            </div>

            <div class="col-md-4">
                <img src="img/logo.jpeg" alt="Logo TV Privado Latino">
            </div>

            <div class="col-md-4">
                <img src="img/privadolatino2.png" alt="Ve la televisión de más de 20 países">
            </div>

        </div>
    </div>
</section><!-- #more-features -->