<!-- ======= Contact Section ======= -->
<section id="contact">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="contact-about">
                <h3>TV Privado Latino</h3>
                <p>Si tienes alguna duda puedes enviarnos un mensaje a nuestras redes sociales.</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/TVPrivadoLatino-105647204434987/?modal=admin_todo_tourl"
                        class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=1917933-2866&text=hola%20quiero%20mas%20informacion"
                        class="whatsup"><i class="fa fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->