<!--==========================
      Product Featuress Section
    ============================-->
<section id="features">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 offset-lg-4">
                <div class="section-header wow fadeIn" data-wow-duration="1s">
                    <h3 class="section-title">DEMO</h3>
                    <span class="section-divider"></span>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 features-img">
                <img loading="lazy" src="img/privado.jpg" alt="" class="wow fadeInLeft">
            </div>

            <div class="col-lg-8 col-md-7 ">

                <div class="row">

                    <div class="col-lg-6 col-md-6 box wow fadeInRight">
                        <div class="icon"><i class="ion-ipad"></i></div>
                        <h4 class="title"><a href="">Requisitos</a></h4>
                        <p class="description">Al solicitar tu demo, es necesario tener instalada previamente la aplicación. El tiempo de prueba es de 2hrs inician a partir del momento en que se le envían el nombre de usuario y contraseña. Consulta los tutoriales de descarga según tu dispositivo.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                        <div class="icon"><i class="ion-email-unread"></i></div>
                        <h4 class="title"><a href="">Contacto</a></h4>
                        <p class="description">Una vez instalada la aplicación, envíanos por <a href="https://api.whatsapp.com/send?phone=1917933-2866&text=hola%20tengo%20esta%20app">WhatsApp</a> ó <a href="https://www.facebook.com/TVPrivadoLatino-105647204434987/?modal=admin_todo_tourl" >Facebook</a> un mensaje dejándonos saber que aplicación instalastes y para que dispositivo como tu Smart tv, teléfono Android o IOS, Tablet etc.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon"><i class="ion-android-happy"></i></div>
                        <h4 class="title"><a href="">Disfruta</a></h4>
                        <p class="description">De esta forma, activaremos tu demo de forma inmediata y te enviaremos los accesos para que puedas disfrutar del sistema.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                        <div class="icon"><i class="ion-wrench"></i></div>
                        <h4 class="title"><a href="">Soporte</a></h4>
                        <p class="description">Si tienes algún problema en la instalación, explícanos que problema tienes.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section><!-- #features -->