<!--==========================
      Frequently Asked Questions Section
    ============================-->
<section id="faq">
    <div class="container">

        <div class="section-header">
            <h3 class="section-title">Preguntas Frecuentes</h3>
            <span class="section-divider"></span>
            <p class="section-description">Revisa nuestra sección de preguntas frecuentes.</p>
        </div>

        <ul id="faq-list" class="wow fadeInUp">
            
            <li>
                <a data-toggle="collapse" href="#faq1" class="collapsed">¿Qué es IPTV?  <i class="ion-android-remove"></i></a>
                <div id="faq1" class="collapse" data-parent="#faq-list">
                    <p>Internet Protocol Televisión (IPTV) es un servicio que utiliza Internet para ofrecer servicios de televisión.
En resumen, está transmitiendo audio y video a través de una red informática en lugar de cable, terrestre o satélite.
Televisión de Protocolo de Internet es la televisión digital entregada a su televisión a través de una conexión de Internet de alta velocidad (banda ancha).
En este servicio, los canales se codifican en formato IP y se envían al televisor a través de un decodificador.
El servicio de TV IP también incluye video bajo demanda, que es similar a ver CDs/DVDs de vídeo usando un reproductor VCD / DVD.   
                    </p>
                </div>
            </li>
            
            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq2">¿Cuánto Cuesta? ¿Y que contiene? 
                    <i class="ion-android-remove"></i></a>
                <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>$13 US Dólares por mes.</p> 
                    <p>☆ Para 3 conexiones simultaneas.</p>      
                    <p>☆ Puede instalarlo en múltiples dispositivos.</p>    
                    <p>☆ 2650 canales en VIVO FHD1080, HD720 y HQ.</p>     
                    <p>☆ Deportes y PPV de todo tipo en VIVO y abiertos.</p>     
                    <p>☆ 6230 películas en FHD1080, HD720, 60FPS, 3D y 4k</p>     
                    <p>☆ 260 Series, Películas de Blim, Netflix, Amazon prime, HBO, Fox, etc.</p>     
                    <p>☆ Contenido XXX.</p>   
                   </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq3" class="collapsed">¿Para qué dispositivo puedo usar el servicio?  <i class="ion-android-remove"></i></a>
                <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
                        Iphone, Apple TV, Smart TV, Firestick, Fire TV, Cajas Android (Nvidea Shield, Xiomi Mibox Buzz TV, etc) y entre otras cajas como la MAG250. 
Roku funciona, pero algunas personas tienen problemas con la instalación.   
                    </p>
                </div>
            </li>

        </ul>

    </div>
</section><!-- #faq -->