<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">TV Privado Latino</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Inicio</a></li>
                <li><a href="#about">Infomación</a></li>
                <li><a href="#features">Demo</a></li>
                <li><a href="#pricing">Planes</a></li>
                <li><a href="#contact">Contacto</a></li>
                <li class="menu-has-children"><a href="">Guías de Instalación</a>
                    <ul>
                      <li><a href="http://tv-privado.net/ios.pdf" target="_blank" rel="noopener">IOS Iphone/Ipad/AppleTv</a></li>
                      <li><a href="http://tv-privado.net/vlc.pdf" target="_blank" rel="noopener">VLC</a></li>
                      <li><a href="http://tv-privado.net/smartiptv.pdf" target="_blank" rel="noopener">SMART Iptv</a></li>
                      <li><a href="http://tv-privado.net/ssiptv.pdf" target="_blank" rel="noopener">Ssiptv</a></li>
                      <li><a href="http://tv-privado.net/setiptv.pdf" target="_blank" rel="noopener">SetIPtv</a></li>
                      <li><a href="http://tv-privado.net/firestick.pdf" target="_blank" rel="noopener">Firestick</a></li>
                      <li><a href="http://tv-privado.net/gse.pdf" target="_blank" rel="noopener">GSE Smart Iptv</a></li>
                    </ul>
                  </li>
            </ul>
        </nav>
    </div>
</header>
