<!--==========================
      More Features Section
    ============================-->
<section id="more-features" class="section-bg">
    <div class="container">

        <div class="section-header">
            <h3 class="section-title">REALIZAR PAGO</h3>
            <span class="section-divider"></span>
            <p class="section-description">Envíanos un mensaje por <a href="https://www.facebook.com/TVPrivadoLatino-105647204434987/?modal=admin_todo_tourl" >Facebook</a> | <a href="https://api.whatsapp.com/send?phone=1917933-2866&text=hola%20quiero%20mas%20informacion" >WhatsApp</a> déjanos saber que método quieres utilizar.</p>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="ion-cash"></i></div>
                    <h4 class="title"><a href="https://play.google.com/store/apps/details?id=com.paypal.android.p2pmobile">PayPal</a></h4>
                    <p class="description">No tienes PayPal? Descarga la aplicación aquí.
                        <a href="https://apps.apple.com/us/app/google-pay/id575923525">PayPal</a>
                    .</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><i class="ion-card"></i></div>
                    <h4 class="title"><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.walletnfcrel">Google Pay</a></h4>
                    <p class="description">No tienes Google Pay? Descarga la aplicación aquí.
                        <a href="https://apps.apple.com/us/app/google-pay/id575923525">Google Pay</a>
                    .</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="ion-cash"></i></div>
                    <h4 class="title"><a href="https://www.paypal.com/cr/webapps/mpp/account-selection">¿No tienes cuenta de PayPal?</a></h4>
                    <p class="description">
                        Crea una cuenta ¡es gratis! te toma menos de 5 minutos. </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><i class="ion-card"></i></div>
                    <h4 class="title"><a href="https://www.paypal.com/cr/webapps/mpp/what-is-paypal">¿No sabes que es PayPal?</a></h4>
                    <p class="description">Mira el siguiente <a href="https://youtu.be/JHwa9GZAPtM">video</a> y te enseña como crear una cuenta de PayPal en menos de 5 minutos. </p>
                </div>
            </div>

        </div>
    </div>
</section><!-- #more-features -->