<!--==========================
      Pricing Section
    ============================-->
<section id="pricing" class="section-bg">
    <div class="container">

        <div class="section-header">
            <h3 class="section-title">Precios</h3>
            <span class="section-divider"></span>
            <p class="section-description">Tenemos una gran variedad de servicios para ti.</p>
            <p class="section-description"> <span class="text-bold text-danger">Importante</span> Después de realizar el pago contáctese con nosotros, enviando tu captura de pantalla de el pago al Facebook o WhatsApp que esta en la página.</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="box wow fadeInLeft">
                    <h3>Demo</h3>
                    <h4><sup>$</sup>0<span> 2 horas</span></h4>
                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Para 3 conexiones simultaneas</li>
                        <li><i class="ion-android-checkmark-circle"></i> Puede instalarlo en múltiples dispositivos</li>
                        <li><i class="ion-android-checkmark-circle"></i> 2450 canales en VIVO FHD1080, HD720 y HQ</li>
                        <li><i class="ion-android-checkmark-circle"></i> 6230 películas en FHD1080, HD720, 60FPS, 3D y 4k</li>
                        <li><i class="ion-android-checkmark-circle"></i> 260 Series. Películas de Blim, Netflix, Amazon prime, HBO, Fox, etc</li>
                        <li><i class="ion-android-checkmark-circle"></i> Contenido XXX</li>
                    </ul>
                    <a href="https://www.facebook.com/TVPrivadoLatino-105647204434987/?modal=admin_todo_tourl" class="fa fa-facebook"> Solicitar Demo</a>
                    <br>
                    <a href="https://api.whatsapp.com/send?phone=1917933-2866&text=hola%20quiero%20un%20demo" class="fa fa-whatsapp"> Solicitar Demo</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="box featured wow fadeInUp">
                    <h3>Mensual</h3>
                    <h4><sup>$</sup>13<span>USD</span></h4>
                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Para 3 conexiones simultaneas</li>
                        <li><i class="ion-android-checkmark-circle"></i> Puede instalarlo en múltiples dispositivos</li>
                        <li><i class="ion-android-checkmark-circle"></i> 2450 canales en VIVO FHD1080, HD720 y HQ</li>
                        <li><i class="ion-android-checkmark-circle"></i> 6230 películas en FHD1080, HD720, 60FPS, 3D y 4k</li>
                        <li><i class="ion-android-checkmark-circle"></i> 260 Series. Películas de Blim, Netflix, Amazon prime, HBO, Fox, etc</li>
                        <li><i class="ion-android-checkmark-circle"></i> Contenido XXX</li>
                    </ul>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="SPCW7Q3F65PDN">
                        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="box featured wow fadeInUp">
                    <h3>3 Mensual</h3>
                    <h4><sup>$</sup>35<span>USD</span></h4>
                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Para 3 conexiones simultaneas</li>
                        <li><i class="ion-android-checkmark-circle"></i> Puede instalarlo en múltiples dispositivos</li>
                        <li><i class="ion-android-checkmark-circle"></i> 2450 canales en VIVO FHD1080, HD720 y HQ</li>
                        <li><i class="ion-android-checkmark-circle"></i> 6230 películas en FHD1080, HD720, 60FPS, 3D y 4k</li>
                        <li><i class="ion-android-checkmark-circle"></i> 260 Series. Películas de Blim, Netflix, Amazon prime, HBO, Fox, etc</li>
                        <li><i class="ion-android-checkmark-circle"></i> Contenido XXX</li>
                    </ul>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="SPCW7Q3F65PDN">
                        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>

        </div>
    </div>
</section><!-- #pricing -->